@using MVCAPP.Models
@model RegistrationModel

@{
    ViewBag.Title = "Registration";
}

<div class="row">
    @using (Html.BeginForm("SaveData", "Registration", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        <fieldset>

            <!-- Form Name -->
            <h2>Registration</h2>

            <!-- Text input-->
            <div class="form-group">
                @Html.LabelFor(model => model.Name, new { @class = "col-md-4 control-label" })
                <div class="col-md-4">
                    @*@Html.TextBoxFor(model => model.Name,
                            new
                               {
                                   @class = "form-control",
                                   placeholder = "Enter your name"
                                   ,
                                   required = "required"
                               })*@
                              
                    

                    @(
                        Html.Kendo().TextBoxFor(model => model.Name)
                              .Name("name")
                              .HtmlAttributes(new { placeholder = "Enter your name", required = "required", validationmessage = "Enter {0}", 
                              @class="form-control"})
                      )
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                @Html.LabelFor(model => model.Email, new { @class = "col-md-4 control-label" })
                <div class="col-md-4">   
                    
                    @*@Html.TextBoxFor(model => model.Email,
                            new
                            {
                                @class = "form-control",
                                placeholder = "Enter your Email"
                                   ,
                                required = "required",
                                type="email"
                            })*@
                                     
                    @(
                        Html.Kendo().TextBoxFor(model => model.Email)
                              .Name("email")
                              .HtmlAttributes(new
                              {
                                  placeholder = "Email Address",
                                  required = "required",
                                  validationmessage = "Enter {0}",
                                  @class = "form-control",
                                  type = "email"
                              })
                    )
                    @Html.ValidationMessageFor(model => model.Email)
                </div>
            </div>

            <!-- Password input-->
            <div class="form-group">
                @Html.LabelFor(model => model.Password, new { @class = "col-md-4 control-label" })
                <div class="col-md-4">

                    @*@Html.TextBoxFor(model => model.Password,
                            new
                            {
                                @class = "form-control",
                                placeholder = "Password"
                                   ,
                                required = "required",
                                type = "password"
                            })*@

                    @(
                        Html.Kendo().TextBoxFor(model => model.Password)
                              .Name("password")
                              .HtmlAttributes(new
                              {
                                  placeholder = "Password",
                                  required = "required",
                                  validationmessage = "Enter {0}",
                                  @class = "form-control",
                                  type = "password"
                              })
                    )
                    @Html.ValidationMessageFor(model => model.Password)
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                @Html.LabelFor(model => model.ContactNo, new { @class = "col-md-4 control-label" })
                <div class="col-md-4">

                    @*@Html.TextBoxFor(model => model.ContactNo,
                            new
                            {
                                @class = "form-control",
                                placeholder = "Enter your contact no.",
                                required = "required",
                                type = "number"
                            })*@

                    @(
                        Html.Kendo().TextBoxFor(model => model.ContactNo)
                              .Name("contact")
                              .HtmlAttributes(new
                              {
                                  placeholder = "Enter your contact no.",
                                  required = "required",
                                  validationmessage = "Enter {0}",
                                  @class = "form-control",
                                  type="number"
                              })
                    )
                    @Html.ValidationMessageFor(model => model.Password)
                </div>
            </div>

            <!-- Select Basic -->
            <div class="form-group">
                @Html.LabelFor(model => model.BloodGroup, new { @class = "col-md-4 control-label" })
                <div class="col-md-4">                   
                    
                    @*@Html.DropDownListFor(m => m.BloodGroup, ViewData["BloodGroups"] as SelectList )*@
                     
                    @(
                         Html.Kendo().DropDownListFor(model => model.BloodGroup)
                        .OptionLabel("Select Blood Group")
                        .BindTo(ViewData["BloodGroups"] as SelectList)
                    )
                    @Html.ValidationMessageFor(model => model.BloodGroup)
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                @Html.LabelFor(model => model.Address, new { @class = "col-md-4 control-label" })
                <div class="col-md-4">

                    @*@Html.TextBoxFor(model => model.Address,
                            new
                            {
                                @class = "form-control",
                                placeholder = "Enter your Address",
                                required = "required"
                            })*@

                    @(
                        Html.Kendo().TextBoxFor(model => model.Address)
                              .Name("street")
                              .HtmlAttributes(new
                              {
                                  placeholder = "Enter your Address",
                                  required = "required",
                                  validationmessage = "Enter {0}",
                                  @class = "form-control"
                              })
                    )
                    @Html.ValidationMessageFor(model => model.Address)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DOB, new { @class = "col-md-4 control-label" })
                <div class="col-md-4">

                    @*@Html.TextBoxFor(model => model.DOB, new { @class = "form-control datepicker", placeholder = "Enter DOB date" })
                    @Html.ValidationMessageFor(model => model.DOB)*@

                    @(
                        Html.Kendo().DatePickerFor(model => model.DOB)
                          .Name("dob")
                          .Start(CalendarView.Year)
                          .Depth(CalendarView.Month)
                    )
                    @Html.ValidationMessageFor(model => model.Address)
                </div>
            </div>

            <!-- Button -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="signup"></label>
                <div class="col-md-4">
                    <input type="submit" value="Sign Up" class="btn btn-success" />
                </div>
            </div>

            <script type="text/javascript">
                $(function () { // will trigger when the document is ready
                   $('.datepicker').datepicker(); //Initialise any date pickers
                });
            </script>

        </fieldset>
    }


</div>